name: "Genesys CX Architect Flow Deployment"

on:
  push:
    branches: [ main ]
    workflow_dispatch:
jobs:
  publish-flow:
    runs-on: ubuntu-latest

    env:
      ARCHY_CLIENT_ID: ${{ secrets.ARCHY_CLIENT_ID }}
      ARCHY_CLIENT_SECRET: ${{ secrets.ARCHY_CLIENT_SECRET }}
      ARCHY_ENVIRONMENT: ${{ secrets.ARCHY_ENVIRONMENT }}

    runs-on: ubuntu-latest
    env:
      GENESYSCLOUD_OAUTHCLIENT_ID: "700fa2a2-4678-46a2-b63e-0b5fb70fd446"
      GENESYSCLOUD_OAUTHCLIENT_SECRET: "ddRaHd1JzeTo4Szu6U4yIlF5y99mdWuw3AME7z8Cyb8"
      GENESYSCLOUD_API_REGION: "https://apps.mypurecloud.com/"
      GENESYSCLOUD_REGION: "us-west-2"
      GENESYSCLOUD_ARCHY_REGION: "apps.mypurecloud.com/"
      GENESYSCLOUD_EMAIL_DOMAIN: "devengagedev"
      GENESYSCLOUD_EMAIL_DOMAIN_REGION: "mypurecloud.com"
     ###
     #  TF_WORKSPACE: "dev"
     ###
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-genesys-tools
      - uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - uses: ./.github/actions/apply-terraform
