name: "Genesys CX Architect Flow Deployment"

on:
  push:
    branches: [ main ]
    workflow_dispatch:
jobs:
  publish-flow:

    runs-on: ubuntu-latest
    env:
      GENESYSCLOUD_OAUTHCLIENT_ID: ${{ secrets.GENESYSCLOUD_OAUTHCLIENT_ID }}
      GENESYSCLOUD_OAUTHCLIENT_SECRET: ${{ secrets.GENESYSCLOUD_OAUTHCLIENT_SECRET }}
      GENESYSCLOUD_REGION: ${{ secrets.GENESYSCLOUD_REGION }}
      GENESYSCLOUD_API_REGION: "https://apps.usw2.pure.cloud/"
      GENESYSCLOUD_ARCHY_REGION: ${{ secrets.ARCHY_ENVIRONMENT }}
      GENESYSCLOUD_EMAIL_DOMAIN: "devengagedev"
      GENESYSCLOUD_EMAIL_DOMAIN_REGION: "usw2.pure.cloud"
     ###
     #  TF_WORKSPACE: "dev"
     ###
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-genesys-tools
      - uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - uses: ./.github/actions/apply-terraform


  #  jobs:
  #    execute-platform-tests:
   # runs-on: ubuntu-latest
    # needs: deploy-email-flow-dev
    #env:
     # GENESYSCLOUD_OAUTHCLIENT_ID: ${{ secrets.GENESYSCLOUD_OAUTHCLIENT_ID }}
    #  GENESYSCLOUD_OAUTHCLIENT_SECRET: ${{ secrets.GENESYSCLOUD_OAUTHCLIENT_SECRET }}
     # GENESYSCLOUD_REGION: ${{ secrets.GENESYSCLOUD_REGION }}
    #  GENESYSCLOUD_API_REGION: "https://apps.usw2.pure.cloud/"
   # steps:
    #  - uses: actions/checkout@v2
    #  - uses: ./.github/actions/setup-genesys-tools
    #  - name: Platform tests
     #   run: python blueprint/scripts/platform_tests.py

        
